body {
  background-color: rgb(215, 213, 221);
}

.App {
  text-align: center;
  margin: 0 auto;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.chatSection {
  padding: 10px;
  padding-bottom: 0px;
  height: 90%;
  margin: 1vh 0 0vh;
  bottom: 10%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgb(215, 213, 221);
}

.inputSection {
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  height: 10%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(215, 213, 221);
}

.inputSection input {
    font-size: 1.1rem;
    height: 6vh;
    border: none;
    outline: none;
    color: black;
    background-color: rgba(116, 136, 150, 0.329);
    flex-grow: 1;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0.25vh;
    padding: 0px 10px 0px 10px;
}

.inputSection button {
    height: 6vh;
    border-radius: 10px;
    flex-grow: 2;
    margin-right: 4px;
}

button {
  border: none;
  outline: none;
  background-color: #0b93f6;
  color: white;  
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

p, a {
  max-width: 65%; 
  padding: 10px 20px;
  position: relative;
  color: white;
  text-align: center;
  margin: 0px;
}

.message {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  padding: 0px 10px;    
}

.groupReceived {
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
}

.groupReceived i {
  margin: 10px 0px;
  align-self: flex-start;
}

.sent {
  flex-direction: row-reverse;
}

.sent p, .sent a {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  border-radius: 10px 10px 0px 10px;
}

.received p, .received a {
  background: #e5e5ea;
  color: black;
  align-items: left;
  border-radius: 10px 10px 10px 0px;
}

img {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #0b93f6;
  max-width: 65%;
  height: auto;
  border-radius: 5px;
}

.received img {
  background: #e5e5ea;
  color: black;
  align-self: flex-end;
}

.sent img {
  color: white;
  background: #0b93f6;
  align-items: left;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 213, 221);
  height: 20vh;
  border-radius: 20px;
  margin: 10px;
  margin-top: 30vh;
}

.modal input {
  background-color: rgba(116, 136, 150, 0.5);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

.modal button {
  width: 30vw;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}